target/
.idea/
*.iml
.cache
*.log
*.lck
*.tmp
java_pid*
comarcas.ttl
aragodbpedia/dumps/eswiki/20140205/comunidadContieneMunicipio.ttl
aragodbpedia/dumps/eswiki/20140205/eswiki-20140205-instance-types.ttl
aragodbpedia/dumps/eswiki/20140205/eswiki-20140205-mappingbased-properties.ttl
aragodbpedia/dumps/eswiki/20140205/eswiki-20140205-pages-articles.xml
aragodbpedia/dumps/eswiki/20140205/eswiki-20140205-pages-articles.xml.original
aragodbpedia/dumps/eswiki/20140205/eswiki-20140205-specific-mappingbased-properties.ttl
aragodbpedia/dumps/eswiki/20140205/refArea.ttl
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-extraction-complete
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-instance-types.ttl
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-mappingbased-properties.ttl
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-pages-articles.xml
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-pages-articles.xml.original
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-specific-mappingbased-properties.ttl
aragodbpedia/dumps/eswiki/20150213/eswiki-20150213-template-redirects.obj
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-extraction-complete
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-instance-types.ttl
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-mappingbased-properties.ttl
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-pages-articles.xml
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-pages-articles.xml.original
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-specific-mappingbased-properties.ttl
aragodbpedia/dumps/eswiki/20150223/eswiki-20150223-template-redirects.obj
